.cardProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 3px solid #333;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: #fff;
    width: 100%;
    min-height: 12rem; /* Altura mínima para todas las tarjetas */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.imageContainer {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    margin-right: 1rem;
    flex-shrink: 0; /* Evita que la imagen se encoja si el contenido es largo */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1; /* Permite que el contenido crezca y ocupe todo el espacio disponible */
}

.cardTitle {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    min-height: 3rem; /* Altura mínima para el título */
    line-height: 1.2; /* Controla la altura de la línea para manejar títulos largos */
    overflow: hidden; /* Oculta el texto desbordado */
    text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
}

.cardText {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.cardStockSymbolCheck,
.cardStockSymbolCross {
    margin-left: 1rem;
    font-size: 1.5rem;
}

/* Custom button */
.addButton {
    align-self: start;
    margin-top: auto;
    padding: 0.5rem 1.5rem;
    background: #0194DC;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}

.addButton:hover {
    background: #15408A;
}

.addButton:focus {
    outline: none;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .cardProduct {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea el contenido al inicio */
    }

    .imageContainer {
        width: 100%; /* Imagen ocupa el 100% del ancho en pantallas pequeñas */
        height: auto; /* Permite que la altura sea automática */
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 1rem; /* Añade margen inferior para separar de texto */
    }

    .cardTitle {
        font-size: 1.2rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }

    .cardText {
        font-size: 1rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }

    .addButton {
        width: 100%; /* Botón ocupa el 100% del ancho en pantallas pequeñas */
        text-align: center; /* Centra el texto del botón */
    }
}

@media (max-width: 480px) {
    .cardTitle {
        font-size: 1rem; /* Reduce aún más el tamaño de la fuente en pantallas extra pequeñas */
    }

    .cardText {
        font-size: 0.9rem; /* Reduce el tamaño de la fuente aún más */
    }
}