.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
    font-size: 2.5rem; /* Ajustar el tamaño del texto para que se vea más equilibrado */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; /* Utilizar font-weight 700 para un texto más destacado */
    margin-bottom: 2rem; /* Espacio debajo del título */
}

.table {
    width: 100%; /* Asegurar que la tabla ocupe todo el ancho disponible */
    margin-bottom: 2rem; /* Espacio debajo de las tablas */
}

.tableButtons {
    background: none;
    border: none;
    color: #f8f9fa; /* Color del icono para contraste */
    cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
    transition: color 0.3s ease; /* Transición para el cambio de color */
}

.tableButtons:hover {
    color: #17a2b8; /* Color de hover para mejorar la interacción visual */
}