.containerFluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 10rem;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.title {
    text-align: center;
    font-size: 2rem; /* Ajusta el tamaño del título */
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 1.5rem; /* Espacio debajo del título */
    color: #333; /* Color oscuro para buen contraste */
}

.label {
    font-size: 1rem; /* Ajusta el tamaño para que se vea bien en móviles */
    font-weight: 500;
    color: #555; /* Color gris para los labels */
    margin-bottom: 0.5rem;
}

.text {
    font-size: 1rem;
}

.sendButton {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.linkGroup {
    display: flex;
    flex-direction: column; /* Cambia a columna para dispositivos pequeños */
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .linkGroup {
        flex-direction: row; /* Cambia a fila en pantallas medianas o más grandes */
        gap: 1rem;
    }
    .title {
        font-size: 2.5rem;
    }
}