.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.header {
    margin: 2rem;
}

.mainTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 0.5rem; /* Espacio inferior opcional */
    border-bottom: 2px solid #333; /* Línea debajo del título opcional */
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 0.5rem; /* Espacio inferior opcional */
    border-bottom: 2px solid #333; /* Línea debajo del título opcional */
}

.subTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 1rem; /* Espacio inferior opcional */
    padding-top: 1rem;
}

.text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.contactSection {
    margin-top: 2rem;
}

.contactItem {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contactItem svg {
    margin-right: 0.5rem;
    font-size: 2rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .textTitle {
        font-size: 1.5rem;
    }

    .text {
        font-size: 1rem;
    }

    .contactItem {
        font-size: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .contactItem svg {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 480px) {
    .textTitle {
        font-size: 1.2rem;
    }
}