.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    height: 65vh;
    width: auto;
}
  
.headerLand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 1rem;
}
  
.logo {
    width: 12rem;
    height: auto;
}

.text {
    font-size: 1.5rem;
    color: #000;
}

.textTitle {
    font-size: 3rem;
    color: #000;
}