.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
    font-size: 2.5rem; /* Ajustar el tamaño del texto para que se vea más equilibrado */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; /* Utilizar font-weight 700 para un texto más destacado */
    margin-bottom: 2rem; /* Espacio debajo del título */
}

.loading {
    text-align: center;
    font-weight: bold;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center; /* Centrar el texto */
    color: #000; /* Color del texto */
}

.totalTitle {
    font-size: 1.5rem; /* Tamaño de fuente para el título */
    margin-bottom: 5px; /* Espaciado inferior */
}

.totalAmount {
    font-size: 2rem; /* Tamaño de fuente grande para el total */
    font-weight: bold; /* Negrita para destacar el total */
    margin: 0; /* Sin margen */
}

.centeredMessage {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 10rem; /* Espaciado superior */
    font-size: 1.5rem; /* Puedes ajustar el tamaño del texto */
    color: #555; /* Color opcional */
}