.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 0.5rem; /* Espacio inferior opcional */
    border-bottom: 2px solid #333; /* Línea debajo del título opcional */
}

.section {
    margin-bottom: 30px;
}

.subTitle {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    padding-bottom: 0.5rem; /* Espacio inferior opcional */
    border-bottom: 2px solid #333; /* Línea debajo del título opcional */
}

.section p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6;
    color: #000;
    margin-bottom: 15px; /* Espaciado entre los párrafos */
}

/* Estilos Responsivos */

@media (max-width: 768px) {
    .title {
        font-size: 28px; /* Reduce el tamaño del título en pantallas más pequeñas */
    }

    .section {
        margin-bottom: 20px;
    }

    .subTitle {
        font-size: 20px; /* Ajusta el tamaño del subtítulo */
    }

    .section p {
        font-size: 14px; /* Ajusta el tamaño de la fuente en dispositivos más pequeños */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px; /* Reduce el padding para pantallas muy pequeñas */
    }

    .title {
        font-size: 24px; /* Título aún más pequeño */
    }

    .subTitle {
        font-size: 18px;
    }

    .section p {
        font-size: 13px; /* Hace la fuente aún más pequeña en dispositivos muy pequeños */
    }
}