.form {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.labelCol {
    flex: 0 0 30%; /* Asigna un ancho fijo o relativo al label */
    display: flex; 
    align-items: center; /* Centra el label verticalmente */
}

.label {
    margin-bottom: 0; /* Quita el margen inferior para que quede alineado */
    color: #0194DC;
    font-size: 1.3rem; /* Asegúrate de que sea el tamaño deseado */
    font-weight: bold;
}

.select {
    flex: 1; /* Permite que el select ocupe el espacio restante */
    min-width: 0; /* Ayuda a evitar que el select se desborde */
    font-weight: bold;
    font-size: 1rem;
}