.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-color: #333;
    color: #0194DC;
    text-align: center;
}

.logoSection {
    margin-bottom: 2rem;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 0.5rem;
}

.menuSection {
    margin-bottom: 2rem;
}

.link {
    display: block;
    margin: 0.5rem 0;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #f0f0f0;
}

nav h6 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        text-align: left;
    }

    .logoSection,
    .menuSection {
        margin-bottom: 0;
    }

    .menuSection {
        margin-right: 2rem;
    }
}