.nav {
    background-color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0077B6;
}

.navLink {
    color: #0077B6 !important;
}

.logoSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 5rem;
    height: auto;
    margin-right: 0.5rem;
}