.nav {
    background-color: #333;
}

.navLink {
    color: #0194DC !important;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}

.logoSection {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}