/* Contenedor del filtro */
.filtersContainer {
    margin-top: 1rem;
    padding: 0.5rem;
    max-width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho */
}

/* Título del filtro */
.filtersTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
    text-align: center;
}

/* Tarjeta del Accordion */
.accordionCard {
    background-color: transparent;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

/* Botón del Accordion */
.accordionButton {
    color: #000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
    background: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
}

/* Efecto hover en el botón */
.accordionButton:hover {
    color: #fff;
}

/* Item dentro del Accordion */
.subRubroItem {
    padding-left: 1rem;
}

/* Estilo de los ítems */
.item {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    padding: 0.5rem 0;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado */
}

.dot {
    font-size: 0.5rem;
}

/* Efecto hover en los ítems */
.item:hover {
    color: #fff;
    background-color: #0077B6;
    border-radius: 0.25rem;
}

/* Media queries para diferentes tamaños de pantalla */

/* Tablet (768px - 1024px) */
@media (max-width: 1024px) {
    .filtersTitle {
        font-size: 1.25rem;
    }

    .accordionButton {
        font-size: 1rem;
    }

    .item {
        font-size: 0.875rem;
    }
}

/* Móviles (hasta 768px) */
@media (max-width: 768px) {
    .filtersTitle {
        font-size: 1rem;
    }

    .accordionButton {
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    .item {
        font-size: 0.75rem;
        padding: 0.5rem 0;
    }
}
