.detailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.productImage {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 0.5rem;
    object-fit: contain;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.detailsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.cardText {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
    text-align: center;
}

.price {
    font-size: 1.8rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.descriptionSection {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

.descriptionTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.descriptionText {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
    text-align: center;
}

.cardStockSymbolCheck {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: green;
}
.cardStockSymbolCross {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: red;
}

/* Custom button */
.addButton {
    align-self: start;
    margin-top: auto;
    padding: 0.5rem 1.5rem;
    background: #0194DC;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}

.addButton:hover {
    background: #15408A;
}

.addButton:focus {
    outline: none;
}

/* Media Queries para dispositivos más grandes */
@media (min-width: 768px) {
    .detailContainer {
        flex-direction: row;
        padding: 2rem 3rem;
    }

    .imageSection {
        flex: 1;
        margin-right: 2rem;
        margin-bottom: 0;
    }

    .detailsSection {
        flex: 2;
    }

    .cardTitle,
    .cardText,
    .price,
    .descriptionTitle,
    .descriptionText {
        text-align: left;
    }

    .addButton {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .cardTitle {
        font-size: 2rem;
    }

    .price {
        font-size: 2rem;
    }
}