.container {
    text-align: center;
}
  
.headerLand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 1rem;
}
  
.logo {
    width: 20rem;
    height: auto;
}
  
.section {
    padding: 2rem;
    margin: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rubList {
    list-style: none;
    padding: 0;
}
  
.rubList li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    color: black;
    padding: 2rem;
}  